*, :before, :after{ box-sizing: border-box; }

@import url(//db.onlinewebfonts.com/c/51ba22ae06790efd464bde752a2cd9d1?family=Flexo);

$sans: "Flexo", Helvetica, Arial, sans-serif;

$yeallow: #FFCB05;
$gray: #35302D;
$gray-light: #3C3735;
$white: #DFDBD9;
$blue: #2C6DB2;

.body{
  width: 100%;
  height: 100%;
}

.loading {
  width: 100%;
  height: 100%;
  z-index: 2004;
  position: relative;
  background-color: #EEECEE;

  img {
    width: 10em;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.link {
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
  }
}

.list-inline {
  overflow: hidden;

  li {
    float: left;
  }
}


.header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 17.5em;
  background: $gray;
}

.logo {
  position: relative;

  img {
    position: absolute;
    width: 7em;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1em;
  }
}


.main-nav {
  padding-top: 5.5em;

  ul {
    border-top: solid 1px $gray-light;
  }

  li {
    border-bottom: solid 1px $gray-light;
  }

  a {
    padding: 1.1em 0;
    color: $white;
    font: 400 1.1em $sans;
    text-align: center;
  }
}


.list {
  li {
    position: relative;
    overflow: hidden;
  }

  a {
    display: block;
    position: relative;
    z-index: 1;
    transition: .35s ease color;
  }
}


.selected:before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-right: solid 5px $yeallow;
  background: $gray-light;
  transition: .35s ease left;
}


main {
  font-family: $sans;
  padding-left: 18em;
  height: 100%;
  min-width: 700px;

  h1 {
    text-align: center;
    font-size: 4em;
    text-transform: capitalize;
    margin-bottom: 0;
  }

  h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
  }

  .searchBox {
    position: relative;
    margin-bottom: 5em;

    .search {
      width: 18em;
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .searchInput {
      width: 100%;
      border: 0.2em solid $blue;
      border-right: none;
      padding: 5px;
      height: 2.7em;
      border-radius: 5px 0 0 5px;
      outline: none;
      color: $blue;
      font-weight: bold
    }

    .searchButton {
      width: 40px;
      height: 1.8em;
      border: 0.2em solid $blue;
      background: $blue;
      text-align: center;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 20px;
    }
  }

  .loading-pokemons {
    position: relative;

    img {
      position: absolute;
      width: 5em;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .card {
      background-color: white;
      border-radius: 1em;
      border: 0.2em solid $blue;
      width: 17.5em;
      float: left;
      margin: 1em;
      transition: transform .2s;

      &:hover{
        -ms-transform: scale(1.05); /* IE 9 */
        -webkit-transform: scale(1.05); /* Safari 3-8 */
        transform: scale(1.05);
      }

      h4 {
        text-align: center;
        text-transform: capitalize;
      }

      .frame-img {
        width: 100%;
        height: 17.5em;
        position: relative;

        img {
          position: absolute;
          width: 14em;
          height: auto;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    p {
      text-align: center;

      .type {
        height: 2em;
        padding: 0.6em 1.1em 0.5em 1.1em;
        border-radius: 1em;
        font-size: 0.8em;
        font-weight: bold;
        color: white;
        margin: 0.3em;
      }
    }

  }
}


//Cores para background dos spans com o types dos pokemons
$bug: #879607;
$dark: #372A21;
$dragon: #7562D8;
$electric: #EFBB2A;
$fairy: #EBACE1;
$fighting: #763323;
$fire: #C52608;
$flying: #5A6ACA;
$ghost: #5B5BB5;
$grass: #48921F;
$ground: #CBAA5B;
$ice: #6FCFF9;
$normal: #C4C0B4;
$poison: #904691;
$psychic: #EF4880;
$rock: #A08639;
$steel: #8C8E9A;
$water: #1162B3;

.bug {
  background-color: $bug;
}
.dark {
  background-color: $dark;
}
.dragon {
  background-color: $dragon;
}
.electric {
  background-color: $electric;
}
.fairy {
  background-color: $fairy;
}
.fighting {
  background-color: $fighting;
}
.fire {
  background-color: $fire;
}
.flying {
  background-color: $flying;
}
.ghost {
  background-color: $ghost;
}
.grass {
  background-color: $grass;
}
.ground {
  background-color: $ground;
}
.ice {
  background-color: $ice;
}
.normal {
  background-color: $normal;
}
.poison {
  background-color: $poison;
}
.psychic {
  background-color: $psychic;
}
.rock {
  background-color: $rock;
}
.steel {
  background-color: $steel;
}
.water {
  background-color: $water;
}
