<div class="body">
  <div class="loading" *ngIf="!ready"><img src="../assets/loading.gif"></div>


  <header class="header">
    <h1 class="logo">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/640px-International_Pok%C3%A9mon_logo.svg.png" alt="Logo Pokemon">
    </h1>

    <div>
      <nav class="main-nav">
        <ul class="link list">
          <li *ngFor="let gen of gens" [class.selected]="genSelected && genSelected.id == gen.id">
            <a href="#" (click)="selectGen(gen)">{{gen.names[0].name}}</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>


  <main *ngIf="genSelected">
    <h1>{{genSelected.main_region.name}}</h1>
    <h3>{{genSelected.pokemon_species.length}} pokemons</h3>

    <div class="searchBox" *ngIf="genSelected.pokemon_species.length == pokemons.length || filtered">
      <div class="search">
        <input type="text" class="searchInput" placeholder="Number or name..." #search>
        <button type="submit" class="searchButton" (click)="filterPokemons(search.value)">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="loading-pokemons" *ngIf="genSelected.pokemon_species.length != pokemons.length && !filtered">
      <img src="../assets/loading.gif">
    </div>

    <section *ngIf="genSelected.pokemon_species.length == pokemons.length || filtered">
      <div *ngFor="let pokemon of pokemons" class="card">
        <div class="frame-img">
          <img src="{{pokemon.sprites.front_default}}">
        </div>
        <h4>#{{pokemon.id}} - {{pokemon.species.name}}</h4>
        <p><span class="type {{type.type.name}}" *ngFor="let type of pokemon.types">{{type.type.name}}</span></p>
      </div>
    </section>
  </main>
</div>
